.section_card {
  background-color: var(--color-neutral-0);
}

.card {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-neutral-10);
  padding: 0.25rem;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
  justify-content: center;
  text-align: center;
  color: var(--color-neutral-40);
}

.card-title {
  font-size: 1.1rem;
  margin: 0 0 8px;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 16px;
}
@media (max-width: 1600px) {
  .card_content {
    padding: 0 10rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .card_content {
    padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding-top: 2rem;
  }
}

@media (max-width: 1024px) {
  .card_content {
    padding: 0 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 3fr);

    gap: 1rem;
    margin: 2.5rem 0;
  }
}

@media screen and (max-width: 426px) {
  .card_content {
    grid-template-columns: repeat(1, 6fr);
    gap: 1rem;
  }
}
